# Python For Data Professional Beginner

Python adalah bahasa pemrograman yang ditujukan untuk general-purpose programming dan termasuk dalam kategori high-level programming language.

Sebagai general-purpose programming language, Python digunakan untuk berbagai macam permasalahan seperti: pengembangan aplikasi web ataupun mobile, data science, dll.

Python masuk ke dalam kategori high-level programming language dikarenakan bahasa pemrograman Python yang mudah untuk dibaca dan dituliskan oleh manusia.

Bahasa  pemrograman  Python  diciptakan  oleh Guido van Rossum dan pertama kali diperkenalkan pada tahun 1991 sebagai sebuah proyek open-source.

Sifat open-source dari Python mengartikan bahwa setiap orang dapat mengembangkan program komputer dengan menggunakan bahasa pemrograman Python baik untuk tujuan komersil/non-komersil.

#### Apa dan Kenapa Python?

Bahasa pemrograman Python bersifat dynamically typed (Python akan secara otomatis mengubah masukan dari pengguna) dan mendukung berbagai paradigma pemrograman baik pemrograman secara prosedural, berbasis objek (Object-Oriented), ataupun fungsional.

Selain alasan di atas terdapat beberapa alasan lain untuk menggunakan bahasa pemrograman Python:

Python dikembangkan untuk bersifat extendible yang mengartikan bahwa Python dapat dikembangkan untuk berbagai macam tugas baik untuk pembuatan aplikasi web ataupun desktop, proses analisis data, dll.
Python memiliki komunitas yang besar yang secara aktif berkontribusi untuk menyediakan berbagai macam fungsionalitas (third-party libraries). Third-party libraries yang tersedia dalam bahasa pemrograman Python memungkinkan para pengembang untuk dapat fokus menyelesaikan permasalahan yang ada. Per Januari 2020, terdapat 214,922 modul third-party yang dapat kita gunakan secara cuma-cuma.
Python terintegrasi dengan baik dengan berbagai macam bahasa pemrograman dan layanan enterprise. Untuk bagian-bagian yang melibatkan sumber daya komputasi yang besar, pengembang dapat menggunakan fungsionalitas dalam bahasa pemrograman lainnya yang bersifat low-level yang telah dikemas ke dalam fungsionalitas Python.

In [1]:
print("Hello World!")

Hello World!

#### Struktur Program Python

program Python pada umumnya terdiri dari:

1. Statements: Instruksi yang diberikan secara baris per baris untuk dijalankan oleh mesin.

In [2]:
# Statement
print("Belajar Python menyenangkan") 
print("Halo Dunia")
print("Hello World!")

Belajar Python menyenangkan
Halo Dunia
Hello World!

2. Variables: Lokasi penyimpanan yang dapat digunakan untuk menampung sebuah data atau informasi. Contoh: aku mempunyai variabel yang bernama bilangan1, bilangan2, dan kalimat1

In [5]:
# Variables
bilangan1 = 5
bilangan2 = 10
print(bilangan1)
print(bilangan2)

5
10

3. Literals: Simbol-simbol yang dapat kita gunakan untuk mengisi suatu variabel. Pada kode yang telah dicontohkan di atas, angka 5 dan 10 serta 'Belajar Bahasa Python' disebut sebagai literal.

In [6]:
# literals
kalimat1 = "Belajar Bahasa Python"
print(kalimat1)

Belajar Bahasa Python

4. Operators: Simbol-simbol yang dapat digunakan untuk mengubah nilai dari satu variabel dengan melibatkan satu atau lebih variabel dan literal.

In [7]:
# Operators
print(bilangan1 + bilangan2)

15

## Variables in General

In [8]:
user_1 = 'Restu'
print(user_1)

Restu

In [11]:
user_2 = 'Andika'
print(user_2)

Andika

In [13]:
lokasi_1 = lokasi_2 = lokasi_3 = 'Serang'
print(lokasi_1, lokasi_2, lokasi_3)

Serang Serang Serang

In [14]:
lokasi_1 = lokasi_2 = lokasi_3 = 'Cilegon', 'Serang', 'Merak'
print(lokasi_1, lokasi_2, lokasi_3)

('Cilegon', 'Serang', 'Merak') ('Cilegon', 'Serang', 'Merak') ('Cilegon', 'Serang', 'Merak')

## Tipe Data Primitiv

#### String

In [20]:
nama_depan = 'Mohamad Restu'
nama_belakang = 'Zikri Novdian'
print(nama)

Mohamad Restu

In [21]:
tambah_nama_akhir = nama_depan + " Zikri Novdian"
print(tambah_nama_akhir)

Mohamad Restu Zikri Novdian

In [23]:
tambah_nama_akhir = "Mohamad Restu " + nama_belakang
print(tambah_nama_akhir)

Mohamad Restu Zikri Novdian

#### Slicing String

In [24]:
nama_lengkap = 'Mohamad Restu Zikri Novdian'
print(nama_lengkap)

Mohamad Restu Zikri Novdian

In [26]:
print(nama_lengkap[0])
print(nama_lengkap[1])
print(nama_lengkap[2])
print(nama_lengkap[3])
print(nama_lengkap[4])
print(nama_lengkap[5])
print(nama_lengkap[6])

M
o
h
a
m
a
d

Jika slicing menggunakan [<index_awal> : <index_akhir>], index_akhir tidak mengikuti

In [28]:
print(nama_lengkap[ :7])
print(nama_lengkap[8:16])
print(nama_lengkap[17: ])

Mohamad
Restu Zi
ri Novdian

#### String Formating

##### f-string

In [29]:
jalan = 'Pelawad'
no = 23
kecamatan = 'Ciruas'
kelurahan = 'Citerep'

In [32]:
alamat_baru = f'alamat baru saya di Jalan {jalan}, No {no}, Kecamatan {kecamatan}, Kelurahan {kelurahan}'
print(alamat_baru)
print(type(alamat_baru))

alamat baru saya di Jalan Pelawad, No 23, Kecamatan Ciruas, Kelurahan Citerep
<class 'str'>

### Integer & Float

##### Kalkulasi Integer

In [33]:
jml_transaksi_1 = 5
jml_transaksi_2 = 2

print(type(jml_transaksi_1))
print(jml_transaksi_1)
print(jml_transaksi_2)

<class 'int'>
5
2

In [34]:
print(jml_transaksi_1 + jml_transaksi_2)
print(jml_transaksi_1 - jml_transaksi_2)
print(jml_transaksi_1 * jml_transaksi_2)
print(jml_transaksi_1 ** jml_transaksi_2)
print(jml_transaksi_1 / jml_transaksi_2)

7
3
10
25
2.5

##### Pembagian Integer Menjadi Float

contoh mencari rata-rata

In [35]:
rata_rata = (jml_transaksi_1 + jml_transaksi_2) / 2
print(type(rata_rata))
print(rata_rata)

<class 'float'>
3.5

pembagian tanpa pembulatan keduanya dengan pembulatan kebawah

##### Modulo pada bilangan integer

In [37]:
print(9 % 1)
print(9 % 9)
print(9 % 2)
print(9 % 3)
print(9 % 5)
print(9 % 6)
print(9 % 7)

0
0
1
0
4
3
2

#### Kalkulasi Float

In [38]:
berat_1 = 18.665
berat_2 = 6.316

print(berat_1)
print(berat_2)

18.665
6.316

In [39]:
print(berat_1 + berat_2)
print(berat_1 - berat_2)
print(berat_1 * berat_2)
print(berat_2 / berat_1)
print((berat_1 - berat_2) * -1)

24.980999999999998
12.349
117.88813999999999
0.33838735601392983
-12.349

In [41]:
print(berat_1 * berat_2)
print(berat_1 / berat_2)
print(berat_1 // berat_2)

117.88813999999999
2.955193160227992
2.0

##### Modulo pada bilangan float

In [42]:
print(berat_1 % berat_2)

6.0329999999999995

#### Kalkulasi integer dengan float

In [43]:
print(jml_transaksi_1 + berat_2)
print(berat_2 - jml_transaksi_1)

11.315999999999999
1.3159999999999998

### Boolean

In [44]:
is_employee = True
is_car = False

print(type(is_employee))
print(is_employee)
print(is_car)

<class 'bool'>
True
False

## Tipe Data Collections

### List

In [47]:
mix_data_types = ['Mangga', False, 'Jeruk', 98, -0.8679, ['a', 'b', 'c']]
print(type(mix_data_types))
print(mix_data_types)

<class 'list'>
['Mangga', False, 'Jeruk', 98, -0.8679, ['a', 'b', 'c']]

In [46]:
kendaraan = ['Mobil', 'Pesawat', 'Motor', 'Sepeda']
print(kendaraan)

['Mobil', 'Pesawat', 'Motor', 'Sepeda']

#### Concatinate List

Concat list berfungsi untuk menambahkan 1 list dengan list yang lain, menjadi list baru

In [49]:
concat_list = mix_data_types + kendaraan
print(concat_list)

['Mangga', False, 'Jeruk', 98, -0.8679, ['a', 'b', 'c'], 'Mobil', 'Pesawat', 'Motor', 'Sepeda']

### Build-in Functions in List

##### Sorted
sorted() : Digunakan untuk menurutkan elemen dalam list, ascending maupun descending <br> <br>
sorted() : Berfungsi jika semua elemen dalam list memiliki tipe data yang sama

In [51]:
# print(sorted(mix_data_tyoes))
print(sorted(kendaraan))
print(sorted(kendaraan, reverse=False))
print(sorted(kendaraan, reverse=True))

['Mobil', 'Motor', 'Pesawat', 'Sepeda']
['Mobil', 'Motor', 'Pesawat', 'Sepeda']
['Sepeda', 'Pesawat', 'Motor', 'Mobil']

##### Max & Min

max() : Digunakan untuk mencari elemen dengan value terbesar dalam list<br><br>
min() : Digunakan untuk mencari elemen dengan value terkecil dalam list<br><br>
min() & max() : Berfungsi ketika semua elemen dalam list memiliki tipe data yang sama

In [52]:
# print(max(mix_data_types))
print(max(kendaraan))
print(min(kendaraan))

Sepeda
Mobil

##### Menambah & Menghapus elemen dalam list

In [69]:
kendaraan = ['Mobil', 'Pesawat', 'Motor', 'Sepeda']
print(kendaraan)

['Mobil', 'Pesawat', 'Motor', 'Sepeda']

append (<value_baru>) : Menambahkan elemen baru pada index tertentu dalam suatu list

In [70]:
kendaraan.append('Jet')
print(kendaraan)

['Mobil', 'Pesawat', 'Motor', 'Sepeda', 'Jet']

insert() : Menabahkan elemen baru pada inex tertentu dalam list

In [71]:
kendaraan.insert(2, 'Kapal laut')
print(kendaraan)

['Mobil', 'Pesawat', 'Kapal laut', 'Motor', 'Sepeda', 'Jet']

remove() : Menghapus elemen berdasarkan value

In [72]:
kendaraan.remove('Kapal laut')
print(kendaraan)

['Mobil', 'Pesawat', 'Motor', 'Sepeda', 'Jet']

del() : Menghapus elemen berdasarkan indexnya

In [73]:
del kendaraan[-1]
print(kendaraan)

['Mobil', 'Pesawat', 'Motor', 'Sepeda']

pop() : Mengambil elemen dari list berdsarkan indexnya, untuk dapat diproses lagi

In [74]:
kendaraan_index_ke_2 = kendaraan.pop(2)

print(kendaraan_index_ke_2)
print(kendaraan)

Motor
['Mobil', 'Pesawat', 'Sepeda']

##### length dalam lists

len() : Digunakan untuk menghitung jumlah elemen dalam list

In [77]:
print(mix_data_types)

['Mangga', False, 'Jeruk', 98, -0.8679, ['a', 'b', 'c']]

In [78]:
print(len(mix_data_types))

6

#### Slicing List

In [ ]:
kendaraan = ['Mobil', 'Pesawat', 'Motor', 'Sepeda']
print(kendaraan)

In [79]:
print(kendaraan[0])
print(kendaraan[1])

print(kendaraan[-1])
print(kendaraan[-2])

Mobil
Pesawat
Sepeda
Pesawat

jika slicing menggunakan (:) index_trakhir tidak akan mengikuti

In [80]:
print(kendaraan[0:3])
print(kendaraan[:3])

['Mobil', 'Pesawat', 'Sepeda']
['Mobil', 'Pesawat', 'Sepeda']

In [81]:
print(kendaraan[-3:-1])
print(kendaraan[-3:])

['Mobil', 'Pesawat']
['Mobil', 'Pesawat', 'Sepeda']

In [82]:
# assign kedalam variable baru
kendaraan_baru = kendaraan[-3:-1]

## Tuple

In [87]:
tuple_numbers = (1, 2, 3, 4, 5)

print(tuple_numbers)

(1, 2, 3, 4, 5)

In [84]:
mix_tuple = ('a', 'i', 'Merupakan Adalah', 2, 6.431, 61.124, True, False)

print(mix_tuple)

('a', 'i', 'Merupakan Adalah', 2, 6.431, 61.124, True, False)

#### Contoh Tuple (Immutable)

In [85]:
print(tuple_numbers)

(1, 2, 3, 4, 5)

Tidak bisa melakukan perubahan elemen

In [ ]:
print(tuple_numbers[0])

tuple_numbers[0] = 99
print(tuple_numbers)

Tidak bisa menghapus elemen tertentu dalam tuple

In [ ]:
del tuple_numbers[0]

#### Concate Tuple

Karena tuple itu immutable, maka jika ingin menambahkan elemen baru harus disimpan ke dalam variable baru dengan cara di concate

In [91]:
a = (6, 7, 8)
type(a)

tuple

In [92]:
print(tuple_numbers)
tuple_new_numbers = tuple_numbers + a
print(tuple_new_numbers)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 6, 7, 8)

#### Delete Tuple

In [ ]:
print(tuple_numbers)

#del tuple_numbers
#print(tuple_numbers)

#### Length

In [95]:
tuple_numbers = (1, 2, 3, 4, 5)

print(tuple_numbers)
print(len(tuple_numbers))

(1, 2, 3, 4, 5)
5

#### Zip

Zip untuk menggabungkan elemen per index dari beberapa tuple atau bisa juga list

In [96]:
makanan = ('Pizza', 'Mie', 'Bubur', 'Soto')
jumlah = (1, 7, 15, 56)

# nama = ['Budi', 'Andi', 'Riri', 'Roro']
# umur = [33, 23, 26]

print(makanan)
print(jumlah)

('Pizza', 'Mie', 'Bubur', 'Soto')
(1, 7, 15, 56)

Hasil dari zip object, maka untuk bisa membaca hasil dari zip harus diconvert ke list atau tuple terlebih dahulu <br> <br>
list atau tuple yang ingin di zip, harus memiliki jumlah elemen yang sama, jika tidak, elemen yang tidak ada pasangan tidak akan dibaca

In [97]:
zipped = zip(makanan, jumlah)

print(zipped)
print(list(zipped))

<zip object at 0x000002F33F766F00>
[('Pizza', 1), ('Mie', 7), ('Bubur', 15), ('Soto', 56)]

In [ ]:
zipped[0]

### Slicing Tuple

In [99]:
print(tuple_numbers[0])
print(tuple_numbers[1])

print(tuple_numbers[-1])
print(tuple_numbers[-2])

1
2
5
4

jika slicing menggunakan (:) maka, index_terakhir tidak ikut

In [101]:
print(tuple_numbers[0:3])
print(tuple_numbers[:3])

(1, 2, 3)
(1, 2, 3)

In [102]:
print(tuple_numbers[-3:-1])
print(tuple_numbers[-3:])

(3, 4)
(3, 4, 5)

## Set

In [2]:
set_numbers = {1, 2, 3, 4, 5}

print(type(set_numbers))
print(set_numbers)

<class 'set'>
{1, 2, 3, 4, 5}

In [5]:
mix_set = {1, 2, 0.351, 8.134, False, 'ini Restu'}
print(mix_set)

{0.351, 1, 2, False, 8.134, 'ini Restu'}

#### Contoh set tidak mengandung duplikat elemen

In [6]:
random_set_numbers = {4, 5, 5, 9, 1, 2, 3, 3}
print(random_set_numbers)

{1, 2, 3, 4, 5, 9}

#### Contoh set memiliki yang tidak berurutan

Set akan langsung mengurutkan elemen nya dari kecil ke besar dan menghapus duplikasi elemen oleh karena itu, tdak bisa mengakses per indexnya

In [ ]:
print(random_set_numbers[0])

### Add & Remove Set

In [8]:
print(random_set_numbers)

{1, 2, 3, 4, 5, 9}

Menambahkan elemen baru pada index terakhir

In [12]:
random_set_numbers.add(6)
random_set_numbers.add(10)
print(random_set_numbers)

{1, 2, 3, 4, 6, 9, 10}

Menghapus elemen berdasarkan value nya

In [11]:
random_set_numbers.remove(5)
print(random_set_numbers)

{1, 2, 3, 4, 6, 9}

## Dictionary

In [18]:
dict_pelanggan = {'nama' : 'Restu', 'Umur' : 21, 'Sudah Menikah' : False, 9: 'integer as key', True : 'Boolean as Key'}

print(dict_pelanggan)

print(dict_pelanggan['nama'])
print(dict_pelanggan[9])
print(dict_pelanggan[True])

{'nama': 'Restu', 'Umur': 21, 'Sudah Menikah': False, 9: 'integer as key', True: 'Boolean as Key'}
Restu
integer as key
Boolean as Key

#### Print All Keys, Values, & Key-Value Pairs

In [19]:
print(dict_pelanggan.keys())

dict_keys(['nama', 'Umur', 'Sudah Menikah', 9, True])

In [20]:
# Add
dict_pelanggan['alamat'] = 'Jln.Raya Serang-Ciruas Desa Pelwad TCp Blok D2'
print(dict_pelanggan)

{'nama': 'Restu', 'Umur': 21, 'Sudah Menikah': False, 9: 'integer as key', True: 'Boolean as Key', 'alamat': 'Jln.Raya Serang-Ciruas Desa Pelwad TCp Blok D2'}

In [21]:
del dict_pelanggan['alamat']

print(dict_pelanggan)

{'nama': 'Restu', 'Umur': 21, 'Sudah Menikah': False, 9: 'integer as key', True: 'Boolean as Key'}

## Def Function, While And For Loop

### For Loop

In [23]:
# for i in range('range1', 'range2', step)

for i in range(2, 10, 3):
    print('This value is right = ', i)

This value is right =  2
This value is right =  5
This value is right =  8

In [24]:
word = "pyhton"
for i in word:
    print(i, end=".")

p.y.h.t.o.n.

In [31]:
for i in range(1,11):
    print(i, end='-')
    if i+5 == 35:
        break

1-2-3-4-5-6-7-8-9-10-

In [32]:
for i in range(2,11):
    if i == 9:
        break
    print("Restu", i, end='')

Restu 2Restu 3Restu 4Restu 5Restu 6Restu 7Restu 8

In [34]:
print("The break instruction: ")
for i in range(1,5):
    if i == 4:
        break
    print("inside the loop", i)
    print("Outside the loop")

The break instruction:
inside the loop 1
Outside the loop
inside the loop 2
Outside the loop
inside the loop 3
Outside the loop

### Def

In [39]:
import pandas as pd
data = {"Nama" : ['Restu', 'Ridho', 'Ridha', 'Radit', 'Rara'], 'Age' : [1, 2, 3, 4, 5]}
df=pd.DataFrame(data, index=['No.1', 'No.2', 'No.3', 'No.4', 'No.5'])
df

       Nama  Age
No.1  Restu    1
No.2  Ridho    2
No.3  Ridha    3
No.4  Radit    4
No.5   Rara    5

In [40]:
def age(i):
    for i in range (i):
        if i > 3: result = 'Balita'
        else : result = 'Batita'
    return result

In [41]:
df['Kriteria'] = df['Age'].apply(age)

In [42]:
df

       Nama  Age Kriteria
No.1  Restu    1   Batita
No.2  Ridho    2   Batita
No.3  Ridha    3   Batita
No.4  Radit    4   Batita
No.5   Rara    5   Balita

In [46]:
def beranjak(start):
    #future = ""
    if start == 'Batita' : future = 'Anak-anak'
    elif start == 'Balita' : future = 'Remaja'
    else : future = 'Dewasa'
    return future

In [47]:
df['Future'] = df['Kriteria'].apply(beranjak)

In [48]:
df

       Nama  Age Kriteria     Future
No.1  Restu    1   Batita  Anak-anak
No.2  Ridho    2   Batita  Anak-anak
No.3  Ridha    3   Batita  Anak-anak
No.4  Radit    4   Batita  Anak-anak
No.5   Rara    5   Balita     Remaja

### While

In [49]:
i = 1
while 3 > i:
    print(i)
    #increment
    i += 1

1
2

In [ ]:
#bad practice
i = 3
while i > 1:
    print(i)
    i += 1

In [51]:
i = 1
while i > 0:
    print(i)
    i += 1
    if i == 10:
        break

1
2
3
4
5
6
7
8
9

In [53]:
lower_limit = 1
upper_limit = 100

def genap(lower_limit, upper_limit):
    nomor_genap = []
    i = lower_limit
    while i <= upper_limit:
        if i%2  == 0:
            nomor_genap.append(i)
        i+=1
    return nomor_genap

In [54]:
genap(lower_limit, upper_limit)

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

## List Convert

In [55]:
list = ['10', 10, 'Manis', 'Boleh', True, 98.8987]

In [58]:
df_list = pd.DataFrame(list)

In [59]:
df_list

         0
0       10
1       10
2    Manis
3    Boleh
4     True
5  98.8987

In [61]:
# List 1
ls1 = [['Fav', 11], ['Tutor', 22], ['Coding', 33], ['Skills', 44]]
df = pd.DataFrame(ls1, columns = ['Key', 'Values'])
print(df)

      Key  Values
0     Fav      11
1   Tutor      22
2  Coding      33
3  Skills      44

In [62]:
# List 2
lst2 = [['Apple', 'Red', 11], ['Grape', 'Green', 22], ['Orange', 'Orange', 33], ['Manggo', 'Yellow', 44]]
df = pd.DataFrame(lst2, columns = ['Fruits', 'Color', 'Value'], dtype=float)
print(df)

   Fruits   Color  Value
0   Apple     Red   11.0
1   Grape   Green   22.0
2  Orange  Orange   33.0
3  Manggo  Yellow   44.0

C:\Users\restu\AppData\Local\Temp\ipykernel_5476\2120701008.py:3: FutureWarning: Could not cast to float64, falling back to object. This behavior is deprecated. In a future version, when a dtype is passed to 'DataFrame', either all columns will be cast to that dtype, or a TypeError will be raised.
  df = pd.DataFrame(lst2, columns = ['Fruits', 'Color', 'Value'], dtype=float)

In [67]:
# List of Name, degree, Score
n = ['Apple', 'Grape', 'Orange', 'Manggo']
col = ['Red', 'Green', 'Orange', 'Yellow']
val = [11, 22, 33, 44]

# Dictionary of List
dict = {'fruit':n, 'color' : col, 'Value' : val}
df = pd.DataFrame(dict)
print(df)

    fruit   color  Value
0   Apple     Red     11
1   Grape   Green     22
2  Orange  Orange     33
3  Manggo  Yellow     44

In [68]:
# Buat list untuk menampung nama-nama teman
my_friends = ["Restu", "Andi", "Bayu", "Dani", 'Cici']

# Tampilkan isi list my_friends dengan nomor ineks 3
print('Isi my_friends indeks ke-3 adalah: {}'.format(my_friends[3]))

# Tampilkan semua daftar teman
print("Semua teman: ada {} orang".format(len(my_friends)))
for friend in my_friends :
    print(friend)

Isi my_friends indeks ke-3 adalah: Dani
Semua teman: ada 5 orang
Restu
Andi
Bayu
Dani
Cici